Repository yurka1605/online-school-everyone: changes, and which lint-staged commands are due for each by the changed paths.
All: ng lint, npm run lint-css

.lintstagedrc:

{
  "*.{js,ts}": "ng lint",
  "*.{css,scss}": "npm run lint-css"
}

fix(precommit): fix precommit hook 2
  .huskyrc
  package.json
Due: none

fix(precommit): fix precommit hook 3
  package-lock.json
  package.json
Due: none

fix(precommit): fix precommit hook 4
  .lintstagedrc
  package.json
Due: none

fix(precommit): fix precommit hook with new husky version
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

fix(scripts): fixed package.json scripts
  .husky/pre-commit
  package.json
Due: none

fix(karma): fixed karma configs
  .eslintrc.json
  .husky/pre-commit
  .stylelintrc
  .stylelintrc.json
  package-lock.json
  package.json
  projects/app/karma.conf.js
  projects/docs/karma.conf.js
  projects/landing/karma.conf.js
  projects/ui-lib/karma.conf.js
  projects/ui-lib/src/lib/shared/drug-and-drop/drug-and-drop.component.ts
Due: ng lint

fix(scripts): fixed husky hook
  .husky/pre-commit
  package.json
  projects/ui-lib/assets/main.styles.scss
  projects/ui-lib/assets/styles/styles.scss
  projects/ui-lib/assets/styles/utils/_variables.scss
Due: npm run lint-css

init(page): test github pages
  docs/3rdpartylicenses.txt
  docs/792.9613d882fe2f11b99b72.js
  docs/assets/themes/dark.css
  docs/assets/themes/default.css
  docs/favicon.ico
  docs/index.html
  docs/main.5d94dc7e29bbcf8fd373.js
  docs/polyfills.59d9d66d45bc146a68cd.js
  docs/runtime.1d848098f5bd57f718b5.js
  docs/styles.e5ef50abd874d82d64c6.css
Due: ng lint, npm run lint-css

init(page): test github pages fix
  docs/index.html
Due: none
